@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Barlow+Semi+Condensed:wght@500;600&family=Cairo:wght@300;400;500;700&family=Fraunces:opsz,wght@9..144,700&family=Hanken+Grotesk:wght@500;600;700&family=Kumbh+Sans:wght@400;700&family=Manrope:wght@500;700&family=Montserrat:wght@500;700&family=Mooli&family=Open+Sans:wght@400;500;700&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&family=Rubik:wght@400;500;700&display=swap");

:root {
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);
  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
img {
  width: 100%;
  height: auto;
}
.container {
  width: 75%;
  margin: auto;
}
.section {
  padding: 1.5rem 0 0rem;
}

/* Header */
.cart_img img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.relative {
  position: relative;
}

.relative span {
  position: absolute;
  width: 18px;
  height: 12px;
  background-color: var(--Orange);
  top: -10px;
  right: -4px;
  color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 10px;
  font-weight: bold;
  opacity: 0;
}
.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border-bottom: 1px solid var(--Grayish-blue);
}
.header_data {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header_data svg,
.nav_list svg {
  display: none;
}

.nav_list {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100px;
}
.nav_list li {
  position: relative;
  height: 100px;
  display: flex;
  align-items: center;
}
.nav_list li::before {
  content: "";
  position: absolute;
  border-bottom: 3px solid var(--Orange);
  width: 100%;
  top: 97%;
  opacity: 0;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.nav_list li:hover::before {
  opacity: 1;
}

.logo {
  font-weight: 700;
  font-size: 25px;
  color: var(--Very-dark-blue);
}

.nav_list li a {
  color: var(--Dark-grayish-blue);
  font-size: 14px;
}
.cart_img {
  display: flex;
  align-items: center;
  gap: 17px;
  position: relative;
}
.cart {
  position: absolute;
  width: 350px;
  height: auto;
  background-color: white;
  top: 41px;
  left: -175px;
  box-shadow: 0px 0 5px #9b9797;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: 0.4s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  opacity: 0;
}

.cart h2 {
  padding: 0.8rem;
  font-size: 20px;
  border-bottom: 1px solid var(--Grayish-blue);
}
.cart .empty {
  text-align: center;
  justify-content: center;
  margin-top: 4rem;
  word-spacing: 6px;
  padding-bottom: 2rem;
  color: var(--Dark-grayish-blue);
}

.product_save {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 19px;
  padding: 15px;
}
.product_save .info {
  display: flex;
  align-items: center;
  gap: 16px;
}
.product_save .image_save {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.data {
  line-height: 1.4;
  color: var(--Dark-grayish-blue);
}
.data span {
  color: black;
  font-weight: bold;
}
.cart_show {
  opacity: 1;
}
.cart_img svg,
.cart_img img {
  cursor: pointer;
}
.cart_img img:hover {
  border: 1.8px solid var(--Orange);
}
.Checkout {
  margin: 10px auto;
  display: none;
  width: 86%;
  padding: 0.8rem;
  outline: none;
  border: none;
  font-weight: bold;
  background-color: var(--Orange);
  color: var(--White);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}

/* Section Product */
.product_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5rem;
  padding: 2rem;
}

.product_container .images {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  gap: 30px;
  margin-top: 1rem;
}

.product_images .base_image img {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  cursor: pointer;
  height: 400px;
}

.product_container .images img {
  width: 20%;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.active_img {
  opacity: 0.5;
  outline: 3px solid var(--Orange);
}
.product_data {
  padding: 4.5rem 0;
}

.product_company {
  margin-bottom: 0.8rem;
  color: var(--Orange);
}

.product_title {
  font-size: 2rem;
  line-height: 1.3;
}
.product_description {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: var(--Dark-grayish-blue);
  line-height: 1.5;
}
.price {
  display: flex;
  gap: 10px;
}
.price_nums p {
  margin-top: 2px;
  text-decoration: line-through;
  color: var(--Dark-grayish-blue);
}
.price span {
  margin-left: 10px;
  color: var(--Orange);
  background-color: var(--Pale-orange);
  font-weight: bold;
  width: fit-content;
  height: 30px;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.add_to_cart {
  display: flex;
  margin-top: 2rem;
  height: 40px;
  gap: 30px;
}
.num_product {
  width: 40%;
  /*flex: 1;
  */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--Light-grayish-blue);
  padding: 0.5rem;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.num_product svg {
  cursor: pointer;
}
.add_cart {
  width: 60%;
  cursor: pointer;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.9rem;
  background-color: var(--Orange);
  color: var(--White);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  font-weight: 700;
}
.add_cart:hover {
  opacity: 0.7;
}
.add_cart svg {
  /* fill: var(--White) !important; */
  stroke: var(--White);
}
.base_image {
  height: 400px;
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}
.close {
  position: absolute;
  top: -39px;
  right: 0;
  cursor: pointer;
  stroke: var(--Orange);
  font-weight: bold;
}

.lightbox {
  width: 390px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.overlay .images {
  display: flex;
  width: 22%;
  gap: 13px;
  margin-top: 0.8rem;
  padding: -3rem;
  margin-left: 3px;
}

.lightbox .next,
.lightbox .previous {
  cursor: pointer;
}
.lightbox .next {
  position: absolute;
  top: 41%;
  right: 10px;
  font-weight: bold;
}

.lightbox .previous {
  position: absolute;
  top: 41%;
  left: 10px;
  font-weight: bold;
}

/* media query */

@media screen and (max-width: 950px) {
  .product_container {
    grid-template-columns: 55% 45%;
    column-gap: 2.5rem;
  }
  .cart {
    width: 300px;
    left: -144px;
  }
  .product_data {
    padding: 2.5rem 0;
  }
  .product_title {
    font-size: 1.5rem;
    line-height: 1.3;
  }
  .product_description {
    font-size: 0.7rem;
  }
  .add_to_cart {
    flex-direction: column;
  }
  .num_product,
  .add_cart {
    width: 100%;
  }
  .add_cart {
    padding: 0.5rem;
  }
  .product_container .images {
    gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .nav_list {
    position: fixed;
    left: 0;
    top: 0;
    flex-direction: column;
    background-color: var(--White);
    box-shadow: 0 0 5px #ddd;
    height: 100vh;
    width: 150px;
    z-index: 200;
    gap: 0;
    align-items: start;
    padding-top: 3rem;
    transform: translateX(-100%);
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
  }
  .cart {
    width: 270px;
  }
  .nav_list svg {
    position: absolute;
    top: 2rem;
    left: 1.2rem;
    cursor: pointer;
    display: block;
  }
  .header_data {
    gap: 14px;
  }
  .header_data svg {
    display: block;
    cursor: pointer;
  }
  .nav_list li {
    margin: 1rem 1.2rem;
    height: initial;
  }
  .product_container {
    display: block;
    padding: 0;
    margin-top: 2rem;
  }
  .product_container .images {
    gap: 36px;
  }
  .product_company {
    font-size: 2rem;
  }
  .product_title {
    font-size: 2.5rem;
  }
  .product_description {
    font-size: 1.2rem;
  }
  .price {
    justify-content: space-between;
  }
}
.show_menu {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}
@media screen and (max-width: 500px) {
  .nav_container {
    height: 50px;
    border: none;
  }
  .cart {
    width: 421px;
    left: -314px;
    top: 51px;
  }
  .lightbox {
    width: 328px;
  }
  .nav_list li::before {
    width: 0;
  }
  .logo {
    margin-top: -0.3rem;
  }
  .section {
    padding: 0;
  }
  .product_images {
    margin-top: -2rem;
  }
  .product_container.container {
    width: 100%;
  }
  .product_images .base_image img {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
  .product_container .images {
    gap: 16px;
  }
  .product_data {
    margin-left: 1.5rem;
  }
  .product_company {
    font-size: 1.5rem;
  }
  .product_title {
    font-size: 1.5rem;
  }
  .product_description {
    font-size: 1rem;
    line-height: 2;
  }
  .price {
    justify-content: space-between;
    padding: 0 1rem;
  }
  .num_product,
  .add_cart {
    width: 92%;
    margin: auto;
  }
}

.attribution {
  font-size: 10px;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
